*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
;
    }

ul,ol {
    list-style-type: none;
    }

a {
    text-decoration: none;
    color: white;
    }

header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    }

header,main {
    padding-inline: 2rem;
    padding-block: 1rem;
    }

header {
    background-color: #212529;;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i {
    font-size: 2rem;
    }
.productos,.carrito {
    padding: 1rem;
    }

#contenedor-productos {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    }

#contenedor-carrito {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 16px;
    }

.producto {
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    }

.productos h2, .carrito h2, .compra h2{
    width: 100%;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #000;
    padding: 15px 15px;
}

.productos div{
    text-align: center;
    border: none;
    background: none;
    background-color: #212529;
    color: #fff;
    padding: 15px 15px;
}

.carrito, .compra{
    border: none;
    background: none;
    background-color: #212529;
    color: #fff;
    padding: 15px 15px;
}

.compra div{
    display: flex;
    padding: 15px;
}

.productos div button, .carrito button, .compra button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 15px;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}

#todos, #ofertas{
    border-radius:  10px 10px 0px 0px;
}